
/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
height: 60%;
width:40%;
margin: auto;
}
      
/*Optional: Makes the sample page fill the window. */
html,
body {
height: 100%;
width: 100%;
margin: 0;
padding: 0;
} 