* {
    margin: 0;
    padding: 0;
}

.temp {
    font-size: 22px;
    line-height: normal;
}

.city-title {
    font-size: 22px;
    line-height: 0;
}

.text-description {
    line-height: normal;
    font-size: 13px;

}







