.table-style {
    padding: 40px 5px;
    margin-top: 40px;
    margin-left: 24px;  
    border:#ffef0a solid 5px;
    border-radius: 10px;
    border-style: groove;
    font-size: 24px;
    color: #024e76;
    width: 100%;
    background-color:rgba(255, 239, 10, 0.5);
   
}

.hero-img {
    background-image: url(./imgs/soccer-hero.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position:center;
    display:flex;
    height: 80vh;
    width: 100vw;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
 }



.hero-text {
    position:relative;
    text-align: center;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6); 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #ffef0a; 
}
.font {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.orange {
    background-color: rgba(203, 239, 246, 1);
    font-size: 24px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 0 0 10px rgba(255, 239, 10, .8);
    color: #fea520;  
}
a {
    color: inherit;
    text-decoration: none; 
}

.form-input {
    border:#ffef0a solid 5px;
    border-radius: 10px;
    border-style: groove;
    padding: 45px 40px;
    font-size: 24px;
    color: #024e76;
    width: 100%;
    background-color:rgba(255, 239, 10, 0.5);
    margin: auto;    
}

.steps {
    padding: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #fea520;
    text-shadow: 0 0 10px rgba(202, 160, 207, 0.7);
    text-align: center;
}
.q-text {
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fea520;
}
.about-me {
    background-color: rgba(203, 239, 246, 1);
    padding: 60px 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fea520;
    border: 5px solid #ffef0a;
    border-top: none;
    border-left: none;
    border-right: none;  
}
.about-me p {
    padding: 45px 40px;
    font-size: 20px;
}
.about-text {
    font-weight: bold;
    text-shadow: 0 0 10px rgba(202, 160, 207, 0.7);
}

.btn {
    color: #caa0cf;
    background-color: #3069c5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 10px;
}
#play-button{
   width: fit-content;
}

.wbtn {
    color: #3069c5;
    background-color: rgba(202, 160, 207, 0.7);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 10px;
}

footer h2 {
    padding-top: 100px;
    margin-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center; 
    color: #fea520;
}


/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
height: 60%;
width:50%;
border:#ffef0a solid 5px;
border-radius: 10px;
border-style: groove;
margin: auto;
}
      
/*Optional: Makes the sample page fill the window. */
html,
body {
height: 100%;
width: 100%;
margin: 0;
padding: 0;
background-color: rgba(203, 239, 246, 1);
} 
.th {
    height: 80px;
    width: 160px;
    text-align: center;
    vertical-align: middle;
  }
  .hide{
      display:none;
  }
